.flash {
    color: white;
    border-radius: 10px;
    position: absolute;
    top: 50px;
    right: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    z-index: 1111;
}
.flash p {
    margin: 0;
}
.flash-error {
    background: lightcoral;
}
.flash-success {
    background: lightgreen;
}
.flash-close {
    color: white;
    cursor: pointer;
    margin-right: 10px;
}
