.step {
    border: 0;
}

.step-header {
    border: 0;
    background-color: #ffffff;
    display: flex;
    align-items: center;
}

.step-body {
    border-left: 1px solid rgba(0, 0, 0, 0.125);
    padding-left: 20px;
    margin-left: 34px;
}

.step-header-circle {
    width: 58px;
    height: 58px;
    margin-left: -15px;
    border-radius: 50%;
    background-color: #dadee0;
    margin-right: 20px;
}

.step-header-active-circle {
    color: #fff;
    width: 58px;
    height: 58px;
    display: flex;
    font-size: 22px;
    align-items: center;
    margin-left: -15px;
    border-radius: 50%;
    justify-content: center;
    background-color: #2e94e5;
    margin-right: 20px;
}
