
.rfb-item > .form-group > .form-label {
    display: none !important;
}

.react-form-builder-toolbar {
    > ul {
        position: fixed;
        width: 100%;
    }
}

.gry-editor {
    @import "../../../../../node_modules/react-form-builder3/dist/app.css";
}
