@import "fontawesome-free-5.15.1-web/css/all.css";

.header-right .nav-link {
    padding-left: 0;
}

.header {
    background: white;
    height: 80px;
    width: 100vw;
    padding: 15px 16px;
    position: fixed;
    z-index: 999;

    .nav-link {
        padding-left: 0;
    }

    .header-avatar {
        margin: 6px;
        border-radius: 50%;
        height: 50px;
    }

    .header-name {
        color: #475866;
        margin: 0 6px 0 6px;
        font-size: 16px;
        font-weight: 400;
    }
}

.collapse-sidebar {
    /*width:160px;*/
    min-width:160px;
    -webkit-transition:width 300ms ease-in-out, min-width 300ms ease-in-out;
    -moz-transition:width 300ms ease-in-out,  min-width 300ms ease-in-out;
    -o-transition:width 300ms ease-in-out,  min-width 300ms ease-in-out;
    transition:width 300ms ease-in-out,  min-width 300ms ease-in-out;
    &.collapsed {
        width:60px;
        min-width:60px;
    }
    /*overflow: hidden;
    z-index:2;*/
}

.btn-link {
    font-size: 14px;
	text-decoration: none;
    color: rgba(43, 53, 61, 0.5);
	&:focus {
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
        color: rgba(43, 53, 61, 0.5);
	}
    &:hover {
        color: rgba(43, 53, 61, 0.5);
    }

}

.dropdown-item {
    font-size: 14px;
    color: rgba(43, 53, 61, 0.5);
}

.nav-link {
    border-left: 4px solid transparent;
    color: rgba(43, 53, 61, 0.5);
    font-size: 14px;
    &.active {
        border-color: rgba(0, 0, 0, 0.125);
        border-left: solid 4px rgb(24, 148, 225);
        background-color: rgba(24, 148, 225, 0.08);
        color:#1894e1;
    }
}

.navbar-light {
    .navbar-brand {
        color: #2b353d;
        font-size: 1.0rem;
        line-height: 30px;
    }
}

.offcanvas-title {
    color: #2b353d;
    font-size: 1.0rem;
    line-height: 30px;
    font-weight:normal;
}

.search-input {
    border: none;
    color: #475866;
    font-weight: 400;
    font-size: 16px;
    padding: 5px 16px;
    margin: 0 6px;
    min-width: 250px;
}

.sidebar-hp {
    .nav-link {
        padding: 1rem;
    }
}

.search-input:focus {
    outline: none;
}

.header-search {
    margin-left: 65px;
}

.header-icon {
    margin-right: 15px;
    max-width: 20px;
    height: auto;
}

.content-box {
    padding: 32px 44px;
}

.box-title {
    color: #475866;
    font-size: 32px;
    font-weight: 600;
    line-height: 38px;
    margin-bottom: 15px;
}

.box-subtitle {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #475866;
    margin-bottom: 24px;
}

.box-same-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.white-box {
    margin-top: 32px;
    width: 100%;
    background: #ffffff;
    box-shadow: 0 30px 40px rgba(0, 0, 0, 0.04);
    border-radius: 6px;
    padding: 26px;
}

.white-box-small {
    padding: 16px !important;
    margin-top: 16px !important;
}

.no-margin-top {
    margin-top: 0 !important;
}

.btn-icon {
    padding: 0 5px;
}

.inside-tabs {
    margin-top: 34px;
    border-bottom: 0 !important;
    font-weight: 600;
    font-size: 14px;
    color: #2e94e5;

    .active {
        background-color: white !important;
        border-bottom: 0 !important;
        box-shadow: 0 30px 40px rgba(0, 0, 0, 0.04);
        border-radius: 6px 6px 0 0;

        .nav-item {
            color: #475866;
            border-bottom: 0 !important;
            background: rgba(89, 111, 128, 0.1);
            box-shadow: 0 30px 40px rgba(0, 0, 0, 0.04);
            border-radius: 6px 6px 0 0;
            margin: 0 4px 0 4px;
        }
    }
}

.sidebar {
    position: fixed;
    background: white;
    width: 100px;
    height: calc(100vh - 80px);
    margin-top: 80px;
    z-index: 998;
}

.sidebar-items {
    list-style-type: none;
    padding: 60px 0 0 0;
    height: calc(100% - 60px);
    display: flex;
    flex-direction: column;

    > li {
        text-align: center;

        > a {
            padding: 18px 0 18px 0;
            display: block;
        }

        > a > img {
            width: 25px;
            height: auto;
        }
    }

    > :last-child {
        margin-top: auto;
    }
}

.sidebar-items > li:hover,
.sidebar-active {
    background: #ebf5fd;
    border-left: 5px solid #2e94e5 !important;

    & img:first-child {
        margin-left: -5px;
    }
}

.content-container {
    padding: 80px 0 0 100px;
}

.nav-tabs {
    // border-bottom: 1px solid #dadee0 !important;

    .nav-link.active,
    .nav-item.show .nav-link {
        color: #2e94e5;
        font-weight: 600;
        font-size: 18px;
        background-color: transparent;
        border: none;
        border-bottom: 3px solid #2e94e5;
    }

    .nav-link {
        padding-left: 32px;
        padding-right: 32px;
        color: #8d99a2;
        font-weight: 600;
        font-size: 18px;
        border: none;
    }
}

.btn-add-method {
    background: #ffffff;
    border: 1px dashed #2e94e6;
    color: #2e94e6 !important;
}

.nav-lookup-icon {
    font-size: 25px;
    color: #475866;
    -webkit-text-stroke: 2px white;
}
