@import "fontawesome-free-5.15.1-web/css/all.css";

.header-right .nav-link {
    padding-left: 0;
}

.header {
    background: white;
    height: 80px;
    width: 100vw;
    padding: 15px 16px;
    position: fixed;
    z-index: 999;

    .nav-link {
        padding-left: 0;
    }

    .header-avatar {
        margin: 6px;
        border-radius: 50%;
        height: 50px;
    }

    .header-name {
        color: #475866;
        margin: 0 6px 0 6px;
        font-size: 16px;
        font-weight: 400;
    }
}

.collapse-sidebar {
    /*width:160px;*/
    min-width:160px;
    -webkit-transition:width 300ms ease-in-out, min-width 300ms ease-in-out;
    -moz-transition:width 300ms ease-in-out,  min-width 300ms ease-in-out;
    -o-transition:width 300ms ease-in-out,  min-width 300ms ease-in-out;
    transition:width 300ms ease-in-out,  min-width 300ms ease-in-out;
    &.collapsed {
        width:60px;
        min-width:60px;
    }
    /*overflow: hidden;
    z-index:2;*/
}

.btn-link {
    font-size: 14px;
	text-decoration: none;
    color: rgba(43, 53, 61, 0.5);
	&:focus {
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
        color: rgba(43, 53, 61, 0.7);
	}
    &:hover {
        color: rgba(43, 53, 61, 0.7);
    }

}

.dropdown-item {
    font-size: 14px;
    color: rgba(43, 53, 61, 0.5);
}

.nav-link {
    border-left: 4px solid transparent;
    color: rgba(43, 53, 61, 0.5);
    font-size: 14px;
    &.active {
        border-color: rgba(0, 0, 0, 0.125);
        border-left: solid 4px rgb(24, 148, 225);
        background-color: rgba(24, 148, 225, 0.08);
        color:#1894e1;
    }
}

.navbar-light {
    .navbar-brand {
        color: #2b353d;
        font-size: 1.0rem;
        line-height: 30px;
    }
}

.offcanvas-title {
    color: #2b353d;
    font-size: 1.0rem;
    line-height: 30px;
    font-weight:normal;
}

.search-input {
    border: none;
    color: #475866;
    font-weight: 400;
    font-size: 16px;
    padding: 5px 16px;
    margin: 0 6px;
    min-width: 250px;
}

.sidebar-hp {
    .nav-link {
        padding: 1rem;
    }
}

/** 
 * Floating label does not work with input group, nor are there plans to make that compatible
 * these grouper classes can be added to left and right to make an input with addon
 * https://github.com/twbs/bootstrap/discussions/32653
 */

.grouper-left {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.grouper-right {
    margin-left: -1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    &.btn {
        &:focus {
            -webkit-box-shadow: none;
		    -moz-box-shadow: none;
		    box-shadow: none;
        }
    }
}
.form-floating > label {
    padding: .75rem;
}

.inside-tabs {
    margin-top: 34px;
    border-bottom: 0 !important;
    font-weight: 600;
    font-size: 14px;
    color: #2e94e5;

    .active {
        background-color: white !important;
        border-bottom: 0 !important;
        box-shadow: 0 30px 40px rgba(0, 0, 0, 0.04);
        border-radius: 6px 6px 0 0;

        .nav-item {
            color: #475866;
            border-bottom: 0 !important;
            background: rgba(89, 111, 128, 0.1);
            box-shadow: 0 30px 40px rgba(0, 0, 0, 0.04);
            border-radius: 6px 6px 0 0;
            margin: 0 4px 0 4px;
        }
    }
}

.nav-tabs {
    // border-bottom: 1px solid #dadee0 !important;

    .nav-link.active,
    .nav-item.show .nav-link {
        color: #2e94e5;
        font-weight: 600;
        font-size: 18px;
        background-color: transparent;
        border: none;
        border-bottom: 3px solid #2e94e5;
    }

    .nav-link {
        padding-left: 32px;
        padding-right: 32px;
        color: #8d99a2;
        font-weight: 600;
        font-size: 18px;
        border: none;
    }
}

.btn-add-method {
    background: #ffffff;
    border: 1px dashed #2e94e6;
    color: #2e94e6 !important;
}

.nav-lookup-icon {
    font-size: 25px;
    color: #475866;
    -webkit-text-stroke: 2px white;
}
