.two-lines__option, .two-lines__single-value, .two-lines__single-value {
    white-space: pre-wrap !important;
}

.two-lines__value-container, .two-lines__value-container {
    height: 3em;
    margin-top: 4px !important;
}
