.title-info {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #475866;
}

.padding-title-step4 {
    margin-bottom: 32px;
}

.subtitle-info {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #cc9529;
}

.app-input-label.styled-text-checkbox {
    font-size: 16px;
    line-height: 19px;
    padding-left: 14px;
}

.checkbox {
    background: #f5f9fc;
    border-radius: 5px;
}

.text-checkbox {
    font-size: 16px;
    line-height: 19px;
    color: #475866;
    padding-top: 24px;
}

.display-checkbox {
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.inline {
    margin-top: 21px;
}

.title-row {
    margin-left: 23px;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #2e94e6;
}

.col-lg-2.checkbox {
    padding-left: 30px;
}

.switch {
    padding-top: 10px;
}

.btn-edit {
    padding-top: 20px;
}

.input-label {
    font-size: 14px;
    line-height: 17px;
    margin-top: 16px;
}

.step2 {
    margin-top: 0px;
}

.input-step3 {
    margin-top: 8px;
    margin-bottom: 16px;
}

.label-step3 {
    margin-top: 16px;
}

.second-title {
    margin-top: 48px;
}

.second-title-same-page {
    margin-top: 40px;
}

.textarea {
    color: #475866;
    font-size: 16px;
    font-weight: 300;
    margin: 0;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #dadee0;
    margin-top: 8px;
    resize: none;
}

.title-label {
    margin-top: 32px;
}

.title-label-pdf {
    margin-top: 51px;
}

.select-file {
    margin-top: 8px;
}

.btn-select-file {
    font-size: 16px;
    line-height: 38px;
    color: #475866;
    border: 1px solid #b8b8b8;
    background-color: transparent;
    border-radius: 4px;
}

.app-input-label {
    font-size: 14px;
    line-height: 17px;
    color: #475866;
}

.box-title.box-title-custom.title-custom {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    color: #475866;

    padding-top: 48px;
}

.btn-modal {
    margin-left: 0px;
    width: 100%;
    height: 56px;
    background: #2e94e6;
    border: 1px solid #2e94e6;
    border-radius: 3px;
    color: #fff;
}

/* ------------------------------------------------------------------------------------------------------ */

.box-title-custom {
    margin-bottom: 0px;
    margin-top: 15px;
}

.subtitle {
    font-size: 16px;
    line-height: 180%;
    color: #475866;
}

.subtitle-steps {
    margin-top: 16px;
    font-size: 16px;
    line-height: 24px;
    color: #475866;
}

.container-info {
    margin-top: 15px;
}

.white-box-custom {
    margin-top: 0px;
    width: 100%;
    box-shadow: none;
    border-radius: 6px;
    padding: 0px 15px;
}

.btn-save {
    width: 354px;
    height: 56px;
    background-color: #fff;
    border: 2px solid #2e94e6;
    color: #2e94e6;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
}

.container-btn {
    margin: 64px 0px;
    padding: 0px 10px;
}

.styled-btn {
    border: 1px solid #868686;
    background-color: #ffffff;
    color: #475866;
}

.no-margin {
    margin-top: 0px;
}

.button-container {
    display: flex;
    align-items: center;
    border: 1px solid #868686;
    margin-top: 12px;
    padding: 12px 20px;
    border-radius: 4px;
    text-align: center;
}

.btn-input {
    background-color: #dadee0;
    border: 2px solid #dadee0;
    border-radius: 2px;
    background: rgba(0, 0, 0, 0.1);
    opacity: 0.5;
}

.delete {
    color: #ff6d38;
}

.sm-btn {
    height: 33px;
    width: 92px;
}

.sm-btn-add {
    height: 43px;
    width: 84px;
    margin-top: 48px;
}

.md-btn {
    height: 43px;
    width: 166px;
}

.align-end {
    display: flex;
    justify-content: flex-end;
    margin: 0px;
    padding: 0px;
}

.custom-table {
    margin-top: 42px;
    padding-left: 0px;
    padding-right: 0px;
}

.space-between {
    display: flex;
    justify-content: space-between;
    padding-left: 14px;
    padding-right: 14px;
    padding-bottom: 32px;
}

.select {
    margin-top: 8px;
    margin-bottom: 32px;
}

.new-request {
    margin-bottom: 16px;
}

@media (max-width: 376px) {
    .content-box {
        padding: 40px 16px 0px 16px;
        margin: 0px;
    }
}

@media (max-width: 768px) {
    .new-request {
        margin-bottom: 0px;
    }

    .due-date {
        margin-top: 48px;
    }

    .btn-select-file {
        border-color: #2e94e6;
        color: #2e94e6;
    }

    .col-lg-4.step1 {
        padding: 0px;
    }

    .text-checkbox.title-row {
        margin: 0px;
    }

    .col-lg-2.switch {
        margin-left: -30px;
    }

    .col-lg-1.btn-edit {
        padding: 10px 0px 24px 0px;
    }

    .cancel-btn {
        margin-bottom: 16px;
        padding-right: 0px;
    }

    .update-btn {
        margin-bottom: 16px;
        padding-right: 0px;
    }
}
