.title-info {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #475866;
}

.padding-title-step4 {
    margin-bottom: 32px;
}

.subtitle-info {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #cc9529;
}

.app-input-label.styled-text-checkbox {
    font-size: 16px;
    line-height: 19px;
    padding-left: 14px;
}

.checkbox {
    background: #f5f9fc;
    border-radius: 5px;
}

.text-checkbox {
    font-size: 16px;
    line-height: 19px;
    color: #475866;
    padding-top: 24px;
}

.inline {
    margin-top: 21px;
}

.title-row {
    margin-left: 23px;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #2e94e6;
}

.title-label {
    margin-top: 32px;
}

.title-label-pdf {
    margin-top: 51px;
}

.btn-select-file {
    font-size: 16px;
    line-height: 38px;
    color: #475866;
    border: 1px solid #b8b8b8;
    background-color: transparent;
    border-radius: 4px;
}

.app-input-label {
    font-size: 14px;
    line-height: 17px;
    color: #475866;
}

.container-info {
    margin-top: 15px;
}
